html {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    user-select: none;
}

body {
	margin: 0;
}

.app {
	height: 100%;
	width: 100%;
}

.str-chat__list {
	margin-top: 23vh;
	margin-bottom: 12vh;
}

.str-chat__list-notifications{
	display: none
}

.str-chat.livestream.dark,
.str-chat.messaging,
.str-chat.commerce,
.dark.str-chat .str-chat__input-flat,
.messaging.str-chat .str-chat__list {
	background-color: transparent !important;
	background: transparent !important;
}

.str-chat__message-livestream-content p {
	display: table;
	background-color: rgba(17, 17, 17, 0.2);
	padding: 6px;
	border-radius: 8px;
}

.str-chat__input-flat {
	padding: 0px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark.str-chat .str-chat__input-flat textarea {
	background: rgba(0, 0, 0, 0.3);
	&::placeholder {
		color: #fafafa;
	  }
}

button {
	z-index: 6;
}

.btn-round,
.hidden {
	margin: 0.5rem;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;
	outline: none;
	user-select: none;
	.ball {
		width: 100%;
	}
	&.emote {
		background-color: white;
		border: 2px solid #DEE32A;
	}
}

.circle {
	background: none;
	margin: 0.5rem;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	img {
		height: 40px;
		width: 40px;
	}
}

.btn-round {
	cursor: pointer;
}

@media screen and (max-width: 420px) {
	.str-chat-channel.messaging .str-chat__main-panel {
		padding: 0;
	}
}
